name: flutter_e_comerse
description: A minimal starter Flutter e-commerce app
publish_to: "none"
version: 0.1.0+1
environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: 
    sdk: flutter

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
